<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Read It & Meet</title>

  <!--Import Fonts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!--Custom Styles-->
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body class="landing">
  <div id="page-wrapper">
    <section id="banner" class="banner-container">
      <div class="row flex-s">
        <div class="col s12 m12 l8">
          <div class="container containter-left">
            <h2><img src="/assets/images/logo.png" width="255" height="147" alt="" /></h2>
            <p>An place for people to find and create virtual book clubs based on similar reading interests.</p>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <form class="card sign-in" id="signin" name="signin" method="post" action="signin">

            <div class="card-content black-text">
              <span class="card-title">Sign In Now</span>
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="User Email" id="email" name="email" type="text" class="validate" placeholder="User Email">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input placeholder="Password" id="password" name="password" type="password" class="validate">
              </div>
              <button class="light-blue darken-3 btn" type="submit" value="Sign In"><i class="material-icons left">keyboard_tab</i>Sign In</button>
            </div>
            <div class="divider"></div>
            <div class="sign">
                <p class="black-text">or you can sign in via your social network</p>
                <button class="light-blue darken-3 btn btn-google" type="submit"><i class="fa fa-google"></i> Google</button>
                <button class="light-blue darken-3 btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
            </div>
             <div class="divider"></div>
            <div class="create">
                Don't have an account yet?<br/>
                <a class="" href="/signup">
                Create an account
                </a>
                </div>
          </form>          
        </div>
      </div>
    </section>

    <!-- Features -->
  <section id="features">
      <div class="feature">
        <div class="image"><img src="/assets/images/pic01.jpg" alt="" /></div><div class="content">
          <h2>Sign Up</h2>
          <p>Create a free account to start organinzing your reading library.</p>
        </div>
      </div>
      
      <div class="feature">
        <div class="image"><img src="/assets/images/pic02.png" alt="" /></div><div class="content">
          <h2>Search for Books</h2>
          <p>Easily search for books using both author and book title.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image"><img src="/assets/images/pic03.jpg" alt="" /></div><div class="content">
          <h2>Add Books</h2>
          <p>Keep track of all the books you want to read, or are looking forward to reading.</p>
        </div>
      </div>
    </section>


    <section class="wrapper style4"></section>


  <footer class="page-footer">
    <div class="container">&copy; 2018&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/tophersymps/read-it-and-meet" class="white-text"><img src="../public/assets/images/GitHub-Mark-Light-32px.png" width="13" height="13"> View Github Repo</a>
    </div>
  </footer>
  </div>

  <!-- Minified jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- Custom javascript -->
  <script src="/assets/js/app.js"></script>

</body>
</html>