/* ----------------------------------------
  Global
------------------------------------------ */
html, body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

#main {
  min-height: calc(100% - 100px);
  padding-left: 240px;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 98%;
  }
  .btn-pad {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}

@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0;
  }
}

/* ----------------------------------------
   Header
------------------------------------------ */

nav {
  background-color: #434A5B;
}

h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  vertical-align: 0.8rem;
  font-size: 26px;
  padding-left: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 span.ampersand {
  font-size: 26px;
  font-family: 'Libre Baskerville', serif;
}

header .brand-logo {
  padding: 10px 20px;
}

@media only screen and (min-width: 993px) {
  header .brand-logo {
    padding: 0 20px;
  }
}

header .brand-logo img {
  height: 42px;
}

.hamburger {
  background-color: #434A5B;
}

.btn-floating:hover, .btn-floating:focus {
  background-color: #434A5B;
}

/* ----------------------------------------
   Side Nav
------------------------------------------ */

#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}

ul.side-nav.leftside-navigation {
  top: 64px;
  overflow: hidden;
  height: 100%;
}

ul.side-nav.leftside-navigation li:not(.no-padding) {
  line-height: 44px;
}

ul.side-nav.leftside-navigation li:not(.no-padding):hover {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding).active {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

ul.side-nav.leftside-navigation li:not(.no-padding).user-details {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  padding: 20px 0;
}

.side-nav {
  width: 240px;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.side-nav.native-scroll {
  overflow-y: scroll !important;
}

.side-nav a {
  line-height: 42px;
  height: 42px;
}

.side-nav li > a {
  padding: 0 16px !important;
}

.side-nav li > a:hover {
  background-color: transparent;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active i,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active i {
  color: #fff;
}

.nav-collapsed .side-nav {
  width: 64px;
}

.nav-collapsed .side-nav .user-options, .nav-collapsed .side-nav .nav-text, .nav-collapsed .side-nav .collapsible-body span, .nav-collapsed .side-nav span.badge, .nav-collapsed .side-nav .collapsible-header:after {
  display: none;
}

.nav-collapsed .side-nav .nav-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.nav-expanded .side-nav .nav-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav .collapsible-header {
  margin: 0;
  font-weight: 500;
  /* Sidebar nav open close icons*/
}

ul.side-nav .collapsible-header:after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_right";
  color: #9e9e9e;
  font-size: 18px;
  position: absolute;
  right: 16px;
}

ul.side-nav .collapsible-header.active:after {
  content: "keyboard_arrow_down";
}

#slide-out ul.side-nav li {
  padding: 0 !important;
}

.user-details .row {
  margin: 0;
}

#sidenav-overlay {
  background-color: transparent;
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.4rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

#slide-out li .collapsible-body a i {
  font-size: 1.2rem;
}

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -50px;
}

/* ----------------------------------------
    Footer
------------------------------------------ */
@media only screen and (min-width: 992px) {
  footer {
    padding-left: 240px;
  }
}

footer.page-footer {
  background-color: #434A5B;
}

.page-footer .container {
  padding: 0 15px 15px;
}

@media only screen and (max-width: 993px) {
  footer {
    padding-left: 0;
  }
}

/* ----------------------------------------
    Book Cards
------------------------------------------ */

.add-book {
  color: #0277bd;
}

.book-collection {
  display: inline-block;
  height: 3.5rem;
  vertical-align: top;
  padding: 5px 10px;
}

.add-book a:hover {
  color: #039be5;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #0277bd;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #039be5;
}

.book-card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  max-height: 100%;
}

.book-card .card-content .card-title {
  display: block;
  line-height: 20px;
  margin-bottom: 20px;
}

.book-card .card-title {
  font-size: 16px;
  font-weight: 300;
}

.book-card .author {
  font-size: 14px;
  font-weight: 300;
}

/*----------------------------------------
  Helper Classes
------------------------------------------*/

.mb-1 {
  margin-bottom: 1% !important;
}

.mtb-2 {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.mb-6 {
  margin-bottom: 6% !important;
}

.box-shadow-none {
  box-shadow: none !important;
}

.bold > a {
  font-weight: bold;
}