/* Custom Stylesheet */

/* ----------------------------------------
   Global
  -------------------------------------- */
  
  a {
    color: #039be5;
  }

  a:hover {
    color: #0277bd;
  }

  .btn:hover {
    color: #fff;
    background-color: #039be5;
  }

  .input-field .prefix.active {
    color: #0277bd;
  }

  input:not([type]):focus:not([readonly]),
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=url]:not(.browser-default):focus:not([readonly]),
  input[type=time]:not(.browser-default):focus:not([readonly]),
  input[type=date]:not(.browser-default):focus:not([readonly]),
  input[type=datetime]:not(.browser-default):focus:not([readonly]),
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  input[type=tel]:not(.browser-default):focus:not([readonly]),
  input[type=number]:not(.browser-default):focus:not([readonly]),
  input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0277bd;
    -webkit-box-shadow: 0 1px 0 0 #0277bd;
            box-shadow: 0 1px 0 0 #0277bd;
  }

  body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
  }

/* ----------------------------------------
   Banner
  -------------------------------------- */

  .banner-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  .containter-left {
    padding-top: 7rem;
  }

  @media only screen and (min-width: 601px) {
    .banner-container {
      width: 85%;
    }
  }
  @media only screen and (max-width: 736px) {
    .containter-left {
      padding-top: 0;
    }
  }

  #banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 35em;
    position: relative;
    text-align: center;
  }

  /* Title */

  #banner h2 {
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
  }

  #banner h2:before, #banner h2:after {
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  #banner h2:before {
    top: 0;
    left: 0;
  }

  #banner h2:after {
    bottom: 0;
    right: 0;
  }

  #banner p {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
  }

  @media screen and (max-width: 736px) {
    #banner {
      padding: 7em 3em 5em 3em ;
      height: auto;
      min-height: 0;
    }

    #banner h2 {
      font-size: 1.25em;
    }

    #banner br {
      display: none;
    }
  }

  /* Sign In */

  .sign-in {
    background-color: #fff;
  }

  .sign, .create {
    margin: 1rem 0;
    padding-bottom: 1rem;
  }

  .signup-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }
  
  #signup {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 15em;
    position: relative;
    text-align: center;
  }
  
  #signup h2 {
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
  }
  
  #signup p {
    letter-spacing: 0.225em;
    /* text-transform: uppercase; */
    color: #fff;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 736px) {
    #signup {
      padding: 7em 3em 5em 3em ;
      height: auto;
      min-height: 0;
    }

    #signup h2 {
      font-size: 1.25em;
    }

    #signup br {
      display: none;
    }
  }

/* ----------------------------------------
   Features
  -------------------------------------- */

  .feature {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: rgba(255,255,255, 1);
  }

  .feature .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 40%;
  }

  .feature .image img {
    border-radius: 0;
    width: 100%;
  }

  .feature .content {
    padding: 2em 4em 0.1em 4em ;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 60%;
  }

  .feature:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 1280px) {
    .feature .image {
      width: 45%;
    }

    .feature .content {
      width: 55%;
    }
  }

  @media screen and (max-width: 980px) {
    .feature {
      display: block;
    }

    .feature br {
      display: none;
    }

    .feature .image {
      width: 100%;
    }

    .feature .content {
      padding: 4em 3em 2em 3em ;
      max-width: none;
      text-align: center;
      width: 100%;
    }
  }

  @media screen and (max-width: 736px) {
    .feature .content {
      padding: 3em 2em 1em 2em ;
    }
  }

/* ----------------------------------------
   Bottom Container
   ------------------------------------- */

   .wrapper.style4 {
    background-color: transparent;
    
  }

  body.landing .wrapper.style4 {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}


        /* .container-bottom {
          margin: 0 auto;
          max-width: 1280px;
          width: 90%;
          min-height: 5rem;
          background-color: chartreuse;
        }
        
        @media only screen and (min-width: 601px) {
          .container-bottom {
            width: 85%;
          }
        }
        
        @media only screen and (min-width: 993px) {
          .container-bottom {
            width: 70%;
          }
        }
        
        .container-bottom .row {
          margin-left: -0.75rem;
          margin-right: -0.75rem;
        } */


        /* ----------------------------------------
   Sign Up Page
   ------------------------------------- */


   /* ----------------------------------------
   Header
------------------------------------------ */

nav {
  background-color: #434A5B;
}

h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  vertical-align: 0.8rem;
  font-size: 26px;
  padding-left: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 span.ampersand {
  font-size: 26px;
  font-family: 'Libre Baskerville', serif;
}

header .brand-logo {
  padding: 10px 20px;
}

@media only screen and (min-width: 993px) {
  header .brand-logo {
    padding: 0 20px;
  }
}

header .brand-logo img {
  height: 42px;
}

.hamburger {
  background-color: #434A5B;
}

.btn-floating:hover, .btn-floating:focus {
  background-color: #434A5B;
}

/* Wrapper */

.wrapper {
  padding: 6em 0 4em 0 ;
}

  .wrapper > .inner {
    width: 60em;
    margin: 0 auto;
  }

    @media screen and (max-width: 1280px) {

      .wrapper > .inner {
        width: 90%;
      }

    }

    @media screen and (max-width: 980px) {

      .wrapper > .inner {
        width: 100%;
      }

    }
    
    @media screen and (max-width: 980px) {

      .wrapper {
        padding: 4em 3em 2em 3em ;
      }

    }

    @media screen and (max-width: 736px) {

      .wrapper {
        padding: 3em 2em 1em 2em ;
      }

    }

.wrapper.style5 {
  background-color: #ffffff;
  color: #4E4852;
}

  .wrapper.style5 strong, .wrapper.style5 b {
    color: #2E3842;
  }

  .wrapper.style5 h2, .wrapper.style5 h3, .wrapper.style5 h4, .wrapper.style5 h5, .wrapper.style5 h6 {
    color: #2E3842;
  }

  .wrapper.style5 hr {
    border-color: #dfdfdf;
  }

  .wrapper.style5 blockquote {
    border-color: #dfdfdf;
  }

  .wrapper.style5 code {
    background: rgba(0, 0, 0, 0.0375);
  }

  .wrapper.style5 header p {
    color: #8E8892;
  }

  .wrapper.style5 header.major h2, .wrapper.style5 header.major h3, .wrapper.style5 header.major h4, .wrapper.style5 header.major h5, .wrapper.style5 header.major h6 {
    border-color: #dfdfdf;
  }

  .wrapper.style5 header.major p {
    color: #4E4852;
  }

  .wrapper.style5 label {
    color: #2E3842;
  }

  .wrapper.style5 input[type="text"],
  .wrapper.style5 input[type="password"],
  .wrapper.style5 input[type="email"],
  .wrapper.style5 select,
  .wrapper.style5 textarea {
    background: rgba(0, 0, 0, 0.0375);
  }

  .wrapper.style5 .select-wrapper:before {
    color: #dfdfdf;
  }

  .wrapper.style5 input[type="checkbox"] + label,
  .wrapper.style5 input[type="radio"] + label {
    color: #4E4852;
  }

    .wrapper.style5 input[type="checkbox"] + label:before,
    .wrapper.style5 input[type="radio"] + label:before {
      background: rgba(0, 0, 0, 0.0375);
    }

  .wrapper.style5 input[type="checkbox"]:checked + label:before,
  .wrapper.style5 input[type="radio"]:checked + label:before {
    background: #2E3842;
    color: #ffffff;
  }

  .wrapper.style5 ::-webkit-input-placeholder {
    color: #8E8892 !important;
  }

  .wrapper.style5 :-moz-placeholder {
    color: #8E8892 !important;
  }

  .wrapper.style5 ::-moz-placeholder {
    color: #8E8892 !important;
  }

  .wrapper.style5 :-ms-input-placeholder {
    color: #8E8892 !important;
  }

  .wrapper.style5 .formerize-placeholder {
    color: #8E8892 !important;
  }

  .wrapper.style5 .icon.major {
    border-color: #dfdfdf;
  }

  .wrapper.style5 ul.alt li {
    border-color: #dfdfdf;
  }

  .wrapper.style5 table tbody tr {
    border-color: #dfdfdf;
  }

    .wrapper.style5 table tbody tr:nth-child(2n + 1) {
      background-color: rgba(0, 0, 0, 0.0375);
    }

  .wrapper.style5 table th {
    color: #2E3842;
  }

  .wrapper.style5 table thead {
    border-color: #dfdfdf;
  }

  .wrapper.style5 table tfoot {
    border-color: #dfdfdf;
  }

  .wrapper.style5 table.alt tbody tr td {
    border-color: #dfdfdf;
  }

  .wrapper.style5 input[type="submit"],
  .wrapper.style5 input[type="reset"],
  .wrapper.style5 input[type="button"],
  .wrapper.style5 button,
  .wrapper.style5 .button {
    box-shadow: inset 0 0 0 2px #dfdfdf;
    color: #2E3842;
  }

    .wrapper.style5 input[type="submit"]:hover,
    .wrapper.style5 input[type="reset"]:hover,
    .wrapper.style5 input[type="button"]:hover,
    .wrapper.style5 button:hover,
    .wrapper.style5 .button:hover {
      background-color: rgba(0, 0, 0, 0.0375);
    }

    .wrapper.style5 input[type="submit"]:active,
    .wrapper.style5 input[type="reset"]:active,
    .wrapper.style5 input[type="button"]:active,
    .wrapper.style5 button:active,
    .wrapper.style5 .button:active {
      background-color: rgba(0, 0, 0, 0.1);
    }

  @media screen and (max-width: 736px) {

    .wrapper.style5 .features li {
      border-top-color: #dfdfdf;
    }

  }



/* ----------------------------------------
   Footer
------------------------------------------ */

  footer.page-footer {
    padding: 25px;
    margin: 0;
    background-color: #525252;
  }
    
   